
body {
    background-image: url("/img/bild11.gif") !important;
    background-size: cover;
    background: $opacity-background;
    width: 100vw;
    height: 100vh;
}

.page-content, .footer-col-wrapper{
    background: $opacity-background;

}

.site-title {
    font-size: 100px !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

